# 3D models and highres textures (because LFS bandwidth is limited)
# *.obj
# *.mtl
 *.glb
# *.gltf
# *.exr
# *.ply
# *.splat

# Declaration files for Babylon
*.d.ts

# Archives
*.7z
*.zip
*.gz

# Notes
*.txt
!commandes.txt
!process.txt